body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    margin-top: 50px;
    margin-left: 200px;
    font-weight: 600;
    font-family: monospace;
    font-size: 18px;
}

label {
    display: inline-block;
    text-align: right;
    width: 25vw;
    margin-left: 10px;
}

input {
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
    width: 330px;
    border-radius: 20px;
    cursor: pointer;
}

.container-fluid {
    margin-bottom: 20px;
    margin-top: 20px;
}

.dropdown:hover {
    color: #a64dff;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown {
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
    border-radius: 10px;
}

.dy {
    border-radius: 10px;
    /* width: 20px; */
}

.dy:hover {
    color: #a64dff;
    transition: 0.5s;
    cursor: pointer;
}

h4 {
    margin-left: 90px;
    color: lightgreen;
}

.security {
    border-radius: 10px;
    width: 320px;
    display: inline-block;
    margin-top: 16px;
    margin-left: 10px;
}

.security:hover {
    color: #a64dff;
    transition: 0.5s;
    cursor: pointer;
}

input[type="submit"] {
    /* width: 100%; */
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    margin-left: 220px;
}

input[type="submit"]:hover {
    color: maroon;
    transition: 0.6s;
}