body {
    margin: 0px;
}

.main_container {
    height: 100%;
    width: 100%;
}

.design_container {
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding: 15px;
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
}

.one {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    height: 50%;
    flex-basis: 50%;
    /* flex-grow: 1; */
    /* flex-basis: calc(40% - 10px); */
}

.two {
    display: flex;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    /* height: 50%; */
    /* flex-grow: 1; */
    /* flex-basis: calc(50% - 500px); */
}

.three {
    display: flex;
    justify-content: center;
    background-color: #FFF2CC;
    flex-basis: 50%;
    height: 50%;
    /* flex-grow: 1;
    flex-basis: calc(40% - 10px); */
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    flex-basis: 50%;
    height: 50%;
    /* flex-grow: 1;
    flex-basis: calc(40% - 10px); */
}

.childbox1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
    height: 30px;
    padding: 15px;
}

.childbox2 {
    display: flex;
    justify-content: center;
    background-color: #FFF2CC;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 15px;
}

.childbox3 {
    display: flex;
    justify-content: center;
    background-color: blue;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 30px;
    padding: 15px;
    align-self: flex-end;
}

.childbox4 {
    background-color: blue;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 30px;
    padding: 15px;
}

.number1 {
    display: flex;
    position: relative;
    left: -50px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
}

.number2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
    top: -150px;
    left: 40%;
    font-weight: bold;
    margin-right: 25px;
}

.number3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
    right: 50px;
    font-weight: bold;
    margin-right: 25px;
}

.number4 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    position: relative;
    bottom: 150px;
    right: 50px;
    font-weight: bold;
    margin-right: 25px;
}

@media only screen and (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        /* flex: 100%; */
        flex-wrap: wrap;
        /* height: 600px; */
    }
}