body {
    margin: 0;
}

.design_container {
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding: 15px;
}

.flex-container1 {
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.flex-container3 {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.flex-container>div {
    background-color: red;
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}