body {
    margin: 0px;
}

.main_container {
    height: 100%;
    width: 100%;
}

.design_container {
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding: 15px;
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
}

.one {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    width: 50%;
    /* flex-grow: 1; */
    /* flex-basis: calc(40% - 10px); */
}

.two {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    width: 50%;
    /* flex-grow: 1;
    flex-basis: calc(40% - 10px); */
}

.three {
    display: flex;
    justify-content: center;
    background-color: lightyellow;
    width: 50%;
    /* flex-grow: 1;
    flex-basis: calc(40% - 10px); */
}

.four {
    display: flex;
    justify-content: center;
    background-color: lightpink;
    width: 50%;
    /* flex-grow: 1;
    flex-basis: calc(40% - 10px); */
}

.childbox1 {
    width: 40px;
    height: 40px;
    background-color: blue;
    /* align-self: flex-start; */
    padding: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.childbox2 {
    width: 450px;
    height: 70px;
    padding: 50px;
    background-color: lightgoldenrodyellow;
    margin: 40px;
    align-self: center;
}

.childbox3 {
    width: 60px;
    height: 60px;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    color: white;
    align-self: flex-end;
}

.childbox4 {
    width: 60px;
    height: 60px;
    background-color: blue;
    padding: 10px;
    color: white;
}

@media only screen and (max-width: 800px) {
    .parent {
        display: flex;
        flex-direction: column;
        flex: 100%;
        flex-wrap: nowrap;
        height: 600px;
    }
}